-var pageTitle = "HomePage"
<!DOCTYPE html>
html(lang="en")
    head
        include pug/layout/meta
        include pug/layout/style
    body
        header
            include pug/components/nav
            include pug/components/header
        //- Script
        include pug/layout/script