nav
    .nav-closed
        h3 Protofolio
        ul.nav-links
            li.nav-btn Shop
            li Blog
            li Contact
    .nav-open
        section.clothing
            h2 Clothes
            ul
                li 
                    a(href="#") Hats
                li 
                    a(href="#") Swimsutes
                li 
                    a(href="#") Underwear
                li 
                    a(href="#") Misc
        section.nav-images
            img(src="img/hoodie.jpeg", alt="alt")
            img(src="img/hats.jpeg", alt="alt")